<section class="content-header">
    <h1> Novo Prato
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li><%= link_to 'Pratos', disks_path %></li>
        <li class="active"><%= link_to 'Novo Prato', new_disk_path %></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-body pad">
                    <%= render 'form', disk: @disk %>
                </div>
            </div>
        </div>
    </div>
</section>
