<section class="content margin-home">

    <%= image_tag('restaurant.jpg', :alt => 'Restaurant Image', :class => 'center',  :style => 'width:500px; margin:0 auto') %>

    <h3 style="text-align:center"> SISTEMA DE CADASTRO DE RESTAURANTES </h3>  

</section>